pipelines/pipeline/RefreshEmployeeAccrualBalances.json
{
	"name": "RefreshEmployeeAccrualBalances",
	"properties": {
		"activities": [
			{
				"name": "Get Last As Of Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Roberto_WalterDev",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy To Accruals Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last As Of Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetEmployeeAccrualBalances]",
						"storedProcedureParameters": {
							"ApplicationName": {
								"type": "String",
								"value": "WalterDev_EmployeeAccrualBalances"
							},
							"ApplicationUser": {
								"type": "String",
								"value": "walter_adf"
							},
							"AsOfMinDate": {
								"type": "DateTime",
								"value": "@{activity('GetLastAsOfDate').output.firstRow.LastAsOfDate}"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"EmployeeId",
								"AsOfDate",
								"PositionNumber"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"name": "EmployeeId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "AsOfDate",
									"type": "Date",
									"physicalType": "date"
								}
							},
							{
								"sink": {
									"name": "PositionNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "UnionCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "UnionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeClassCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeClassDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "JobCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "JobCodeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ReportsToPositionNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ReportsToEmployeeId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ReportsToEmployeeName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "HrStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeStatusDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "EmployeeTypeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "TypeLabel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "PrevBal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "HoursTaken",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "AccrualHours",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "AdjustedHours",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "CalculatedBal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "AccrualLimit",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "ApproachingMax",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "HoursOverUnderPolicyMax",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "AccrualPercentage",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								}
							},
							{
								"sink": {
									"name": "ExceptionalMaxVacationOnly",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"sink": {
									"name": "Level1Dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level1DeptDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level2Dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level2DeptDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level3Dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level3DeptDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level4Dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level4DeptDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level5Dept",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "Level5DeptDesc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "LoadDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "LastUpdated",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Roberto_WalterDev",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WalterDev_EmployeeAccrualBalances",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}