pipelines/pipeline/RefreshEmployeeAccrualBalances.json
{
	"name": "RefreshEmployeeAccrualBalances",
	"properties": {
		"activities": [
			{
				"name": "Get Last As Of Date DEV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Roberto_WalterDev",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy To Accruals Table DEV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last As Of Date DEV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetEmployeeAccrualBalances]",
						"storedProcedureParameters": {
							"ApplicationName": {
								"type": "String",
								"value": "WalterDev_EmployeeAccrualBalances"
							},
							"ApplicationUser": {
								"type": "String",
								"value": "walter_adf"
							},
							"AsOfMinDate": {
								"type": "DateTime",
								"value": {
									"value": "@{activity('Get Last As Of Date DEV').output.firstRow.LastAsOfDate}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"EmployeeId",
								"AsOfDate",
								"PositionNumber"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Roberto_WalterDev",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WalterDev_EmployeeAccrualBalances",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Accruals to Data Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy To Accruals Table DEV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM dbo.EmployeeAccrualBalances\nWHERE AsOfDate > '@{activity('Get Last As Of Date DEV').output.firstRow.LastAsOfDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "WalterDev_EmployeeAccrualBalances",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataLakeAccruals",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "@formatDateTime(utcNow(),'yyyy')",
								"type": "Expression"
							},
							"Month": "@formatDateTime(utcNow(),'MM')",
							"Day": "@formatDateTime(utcNow(),'dd')"
						}
					}
				]
			},
			{
				"name": "Copy To Accruals Table PROD",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy To Accruals Table TEST",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Last As Of Date PROD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetEmployeeAccrualBalances]",
						"storedProcedureParameters": {
							"ApplicationName": {
								"type": "String",
								"value": "WalterProd_EmployeeAccrualBalances"
							},
							"ApplicationUser": {
								"type": "String",
								"value": "walter_adf"
							},
							"AsOfMinDate": {
								"type": "DateTime",
								"value": {
									"value": "@{activity('Get Last As Of Date PROD').output.firstRow.LastAsOfDate}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"EmployeeId",
								"AsOfDate",
								"PositionNumber"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Roberto_WalterProd",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WalterProd_EmployeeAccrualBalances",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy To Accruals Table TEST",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy To Accruals Table DEV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Last As Of Date TEST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetEmployeeAccrualBalances]",
						"storedProcedureParameters": {
							"ApplicationName": {
								"type": "String",
								"value": "WalterTest_EmployeeAccrualBalances"
							},
							"ApplicationUser": {
								"type": "String",
								"value": "walter_adf"
							},
							"AsOfMinDate": {
								"type": "DateTime",
								"value": {
									"value": "@{activity('Get Last As Of Date TEST').output.firstRow.LastAsOfDate}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"EmployeeId",
								"AsOfDate",
								"PositionNumber"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Roberto_WalterTest",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WalterTest_EmployeeAccrualBalances",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Last As Of Date TEST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Roberto_WalterTest",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Last As Of Date PROD",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Roberto_WalterProd",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}