CAESWalterDataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CAESWalterDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/RefreshFacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TEST Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DEV Purge Stale Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT *, SYSDATETIME() AS LastSyncDate from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LastSyncDate"
										},
										"sink": {
											"name": "LastSyncDate"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterTest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterTest_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DEV Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT *, SYSDATETIME() AS LastSyncDate from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LastSyncDate"
										},
										"sink": {
											"name": "LastSyncDate"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterDev_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PROD Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TEST Purge Stale Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT *, SYSDATETIME() AS LastSyncDate from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "LastSyncDate"
										},
										"sink": {
											"name": "LastSyncDate"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterProd",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterProd_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DEV Purge Stale Records",
						"description": "Delete records that haven't been seen recently in the datamart.",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "DEV Copy Faculty Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ROBERTO_WalterDev",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DELETE FROM dbo.FacultyDeptPortfolio\n  WHERE LastSyncDate IS NULL OR LastSyncDate < DATEADD(day, -2, SYSDATETIME())"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "TEST Purge Stale Records",
						"description": "Delete records that haven't been seen recently in the datamart.",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "TEST Copy Faculty Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "Roberto_WalterTest",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DELETE FROM dbo.FacultyDeptPortfolio\n  WHERE LastSyncDate IS NULL OR LastSyncDate < DATEADD(day, -2, SYSDATETIME())"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "PROD Purge Stale Records",
						"description": "Delete records that haven't been seen recently in the datamart.",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "PROD Copy Faculty Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ROBERTO_WalterProd",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "DELETE FROM dbo.FacultyDeptPortfolio\n  WHERE LastSyncDate IS NULL OR LastSyncDate < DATEADD(day, -2, SYSDATETIME())"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FacultyDeptReportTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshFacultyDeptPortfolio",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-04T10:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RefreshFacultyDeptPortfolio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonitorFPProjectsTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MonitorFPProjects",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-10T10:00:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"hours": [
								10,
								13,
								16,
								19
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonitorUCPathTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MonitorUCPathConnectivity",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-05-05T16:00:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"hours": [
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								8,
								9
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshEmployeeAccrualBalancesTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshEmployeeAccrualBalances",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-15T21:10:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"minutes": [
								5
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}