CAESWalterDataFactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CAESWalterDataFactory"
		},
		"Walter_Storage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Walter_Storage'"
		},
		"ROBERTO_WalterDev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ROBERTO_WalterDev'"
		},
		"ROBERTO_WalterProd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ROBERTO_WalterProd'"
		},
		"Roberto_WalterTest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Roberto_WalterTest'"
		},
		"CAESDOKVprod_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://CAES-DO-KV-prod-westUS2.vault.azure.net/"
		},
		"Walter_Storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://caeswalterstorage.dfs.core.windows.net/"
		},
		"ROBERTO_WalterDev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"ROBERTO_WalterDev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterDev"
		},
		"ROBERTO_WalterDev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		},
		"ROBERTO_WalterProd_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"ROBERTO_WalterProd_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterProd"
		},
		"ROBERTO_WalterProd_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		},
		"Roberto_WalterTest_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"Roberto_WalterTest_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterTest"
		},
		"Roberto_WalterTest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CAESDOKVprod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('CAESDOKVprod_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Walter_Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Walter_Storage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Walter_Storage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAES-ROBERTO-SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAES-TerryLinkedSHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLakeAccruals')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Walter_Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Year": {
						"type": "string"
					},
					"Month": {
						"type": "string"
					},
					"Day": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{concat(dataset().Day, '.parquet')}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{concat(dataset().Year, '/', dataset().Month)}",
							"type": "Expression"
						},
						"fileSystem": "accruals"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Walter_Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Walter_Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Walter_Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ROBERTO_WalterDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ROBERTO_WalterDev_properties_typeProperties_server')]",
					"database": "[parameters('ROBERTO_WalterDev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ROBERTO_WalterDev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ROBERTO_WalterDev_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ROBERTO_WalterProd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ROBERTO_WalterProd_properties_typeProperties_server')]",
					"database": "[parameters('ROBERTO_WalterProd_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ROBERTO_WalterProd_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ROBERTO_WalterProd_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('Roberto_WalterTest_properties_typeProperties_server')]",
					"database": "[parameters('Roberto_WalterTest_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('Roberto_WalterTest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Roberto_WalterTest_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterDev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterProd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Roberto_WalterTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Roberto_WalterTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDev_EmployeeAccrualBalances')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "EmployeeId",
						"type": "nvarchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PositionNumber",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeEmail",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeName",
						"type": "nvarchar"
					},
					{
						"name": "UnionCode",
						"type": "nvarchar"
					},
					{
						"name": "UnionDescription",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeClassCode",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeClassDescription",
						"type": "nvarchar"
					},
					{
						"name": "JobCode",
						"type": "nvarchar"
					},
					{
						"name": "JobCodeDescription",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToPositionNumber",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToEmployeeId",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToEmployeeName",
						"type": "nvarchar"
					},
					{
						"name": "HrStatus",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeStatus",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeStatusDescription",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeType",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeTypeDescription",
						"type": "nvarchar"
					},
					{
						"name": "TypeLabel",
						"type": "nvarchar"
					},
					{
						"name": "PrevBal",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "HoursTaken",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualHours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AdjustedHours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "CalculatedBal",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualLimit",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "ApproachingMax",
						"type": "nvarchar"
					},
					{
						"name": "HoursOverUnderPolicyMax",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualPercentage",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ExceptionalMaxVacationOnly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Level1Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level1DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level2Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level2DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level3Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level3DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level4Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level4DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level5Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level5DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EmployeeAccrualBalances"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDev_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterProd_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterTest_EmployeeAccrualBalances')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Roberto_WalterTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "EmployeeId",
						"type": "nvarchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PositionNumber",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeEmail",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeName",
						"type": "nvarchar"
					},
					{
						"name": "UnionCode",
						"type": "nvarchar"
					},
					{
						"name": "UnionDescription",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeClassCode",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeClassDescription",
						"type": "nvarchar"
					},
					{
						"name": "JobCode",
						"type": "nvarchar"
					},
					{
						"name": "JobCodeDescription",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToPositionNumber",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToEmployeeId",
						"type": "nvarchar"
					},
					{
						"name": "ReportsToEmployeeName",
						"type": "nvarchar"
					},
					{
						"name": "HrStatus",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeStatus",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeStatusDescription",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeType",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeTypeDescription",
						"type": "nvarchar"
					},
					{
						"name": "TypeLabel",
						"type": "nvarchar"
					},
					{
						"name": "PrevBal",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "HoursTaken",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualHours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AdjustedHours",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "CalculatedBal",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualLimit",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "ApproachingMax",
						"type": "nvarchar"
					},
					{
						"name": "HoursOverUnderPolicyMax",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AccrualPercentage",
						"type": "decimal",
						"precision": 7,
						"scale": 2
					},
					{
						"name": "ExceptionalMaxVacationOnly",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Level1Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level1DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level2Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level2DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level3Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level3DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level4Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level4DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "Level5Dept",
						"type": "nvarchar"
					},
					{
						"name": "Level5DeptDesc",
						"type": "nvarchar"
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EmployeeAccrualBalances"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Roberto_WalterTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterTest_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Roberto_WalterTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Roberto_WalterTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonitorFPProjects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Count FP Projects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery(AE_Redshift_PROD, 'select count(*) as fp_count from ae_dwh.ucd_faculty_rpt_t where project_number like ''FP%''')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check FP Count",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Count FP Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@less(int(activity('Count FP Projects').output.firstRow.fp_count), 40000)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ALERT FP Projects Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('ALERT: FP Projects count in ae_dwh.ucd_faculty_rpt_t is critically low! Current count: ', string(activity('Count FP Projects').output.firstRow.fp_count), '. Expected at least 40,000. The AE Data Warehouse may be missing Faculty Portfolio project data.')",
											"type": "Expression"
										},
										"errorCode": "FP_PROJECTS_MISSING"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonitorUCPathConnectivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check UCPath Connectivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery([AIT_BISTG_PRD-CAES_HCMODS_APPUSER], 'select 1 as connected from dual')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Roberto_WalterProd",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshEmployeeAccrualBalances')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Last As Of Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Accruals Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last As Of Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetEmployeeAccrualBalances]",
								"storedProcedureParameters": {
									"ApplicationName": {
										"type": "String",
										"value": "WalterDev_EmployeeAccrualBalances"
									},
									"ApplicationUser": {
										"type": "String",
										"value": "walter_adf"
									},
									"AsOfMinDate": {
										"type": "DateTime",
										"value": {
											"value": "@{activity('Get Last As Of Date').output.firstRow.LastAsOfDate}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"EmployeeId",
										"AsOfDate",
										"PositionNumber"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterDev_EmployeeAccrualBalances",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Accruals to Data Lake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy To Accruals Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM dbo.EmployeeAccrualBalances\nWHERE AsOfDate > '@{activity('Get Last As Of Date').output.firstRow.LastAsOfDate}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "WalterDev_EmployeeAccrualBalances",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DataLakeAccruals",
								"type": "DatasetReference",
								"parameters": {
									"Year": {
										"value": "@formatDateTime(utcNow(),'yyyy')",
										"type": "Expression"
									},
									"Month": "@formatDateTime(utcNow(),'MM')",
									"Day": "@formatDateTime(utcNow(),'dd')"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterDev')]",
				"[concat(variables('factoryId'), '/datasets/WalterDev_EmployeeAccrualBalances')]",
				"[concat(variables('factoryId'), '/datasets/DataLakeAccruals')]"
			]
		}
	]
}