CAESWalterDataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CAESWalterDataFactory"
		},
		"ROBERTO_WalterDev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ROBERTO_WalterDev'"
		},
		"ROBERTO_WalterProd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ROBERTO_WalterProd'"
		},
		"Roberto_WalterTest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Roberto_WalterTest'"
		},
		"Walter_Storage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Walter_Storage'"
		},
		"CAESDOKVprod_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://CAES-DO-KV-prod-westUS2.vault.azure.net/"
		},
		"ROBERTO_WalterDev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"ROBERTO_WalterDev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterDev"
		},
		"ROBERTO_WalterDev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		},
		"ROBERTO_WalterProd_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"ROBERTO_WalterProd_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterProd"
		},
		"ROBERTO_WalterProd_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		},
		"Roberto_WalterTest_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "caes-roberto"
		},
		"Roberto_WalterTest_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "WalterTest"
		},
		"Roberto_WalterTest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "walter_adf"
		},
		"Walter_Storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://caeswalterstorage.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MonitorFPProjects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Count FP Projects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.01:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery(AE_Redshift_PROD, 'select count(*) as fp_count from ae_dwh.ucd_faculty_rpt_t where project_number like ''FP%''')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Check FP Count",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Count FP Projects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@less(int(activity('Count FP Projects').output.firstRow.fp_count), 40000)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ALERT FP Projects Missing",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('ALERT: FP Projects count in ae_dwh.ucd_faculty_rpt_t is critically low! Current count: ', string(activity('Count FP Projects').output.firstRow.fp_count), '. Expected at least 40,000. The AE Data Warehouse may be missing Faculty Portfolio project data.')",
											"type": "Expression"
										},
										"errorCode": "FP_PROJECTS_MISSING"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshEmployeeAccrualBalances')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Last As Of Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT ISNULL(MAX(AsOfDate), '1900-01-01') AS LastAsOfDate FROM dbo.EmployeeAccrualBalances",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Copy To Accruals Table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Last As Of Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_GetEmployeeAccrualBalances]",
								"storedProcedureParameters": {
									"ApplicationName": {
										"type": "String",
										"value": "WalterDev_EmployeeAccrualBalances"
									},
									"ApplicationUser": {
										"type": "String",
										"value": "walter_adf"
									},
									"AsOfMinDate": {
										"type": "DateTime",
										"value": {
											"value": "@{activity('Get Last As Of Date').output.firstRow.LastAsOfDate}",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"EmployeeId",
										"AsOfDate",
										"PositionNumber"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterDev_EmployeeAccrualBalances",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy To Accruals Table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"enableStaging": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterDev')]",
				"[concat(variables('factoryId'), '/datasets/WalterDev_EmployeeAccrualBalances')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RefreshFacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TEST Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DEV Copy Faculty Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterTest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterTest_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DEV Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterDev",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterDev_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PROD Copy Faculty Report",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TEST Copy Faculty Report",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from openquery(AE_Redshift_PROD, '\n  SELECT\n      project_number AS ProjectNumber,\n      COALESCE(task_num, '''') AS TaskNum,\n      COALESCE(fund_cd, '''') AS FundCode,\n      COALESCE(program_cd, '''') AS ProgramCode,\n      COALESCE(activity_cd, '''') AS ActivityCode,\n      COALESCE(expenditure_category_name, '''') AS ExpenditureCategoryName,\n      COALESCE(prj_owning_cd, '''') AS ProjectOwningOrgCode,\n      award_number AS AwardNumber,\n      award_name AS AwardName,\n      award_type AS AwardType,\n      award_start_date AS AwardStartDate,\n      award_end_date AS AwardEndDate,\n      award_status AS AwardStatus,\n      project_name AS ProjectName,\n      prj_owning_desc AS ProjectOwningOrg,\n      project_type AS ProjectType,\n      project_status_code AS ProjectStatus,\n      task_name AS TaskName,\n      task_status AS TaskStatus,\n      pm AS Pm,\n      pa AS Pa,\n      pi AS Pi,\n      copi AS Copi,\n      fund_desc AS FundDesc,\n      purpose_cd AS PurposeCode,\n      purpose_desc AS PurposeDesc,\n      program_desc AS ProgramDesc,\n      activity_desc AS ActivityDesc,\n      cat_budget AS PpmBudget,\n      cat_commitments AS PpmCommitments,\n      cat_itd_exp AS PpmExpenses,\n      cat_bud_bal AS PpmBudBal,\n      load_dt AS LoadDate\n  FROM ae_dwh.ucd_faculty_rpt_t\n  where cat_budget is not null\n ')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ProjectNumber",
										"TaskNum",
										"FundCode",
										"ProgramCode",
										"ActivityCode",
										"ExpenditureCategoryName",
										"ProjectOwningOrgCode"
									]
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "projectnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "tasknum"
										},
										"sink": {
											"name": "TaskNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "fundcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programcode"
										},
										"sink": {
											"name": "ProgramCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitycode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "expenditurecategoryname"
										},
										"sink": {
											"name": "ExpenditureCategoryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorgcode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrgCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardnumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardtype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "awardstartdate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardStartDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardenddate",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AwardEndDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "awardstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AwardStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectowningorg",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectOwningOrg",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projecttype",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "projectstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProjectStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskname",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "taskstatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TaskStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pm",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pa",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pa",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "pi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "copi",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Copi",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "funddesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FundDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposecode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "purposedesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PurposeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "programdesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ProgramDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "activitydesc",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ActivityDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ppmbudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudget",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmcommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmCommitments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmexpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmExpenses",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "ppmbudbal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "PpmBudBal",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										}
									},
									{
										"source": {
											"name": "loaddate",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Roberto_WalterProd",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WalterProd_FacultyDeptPortfolio",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterTest')]",
				"[concat(variables('factoryId'), '/datasets/WalterTest_FacultyDeptPortfolio')]",
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterDev')]",
				"[concat(variables('factoryId'), '/datasets/WalterDev_FacultyDeptPortfolio')]",
				"[concat(variables('factoryId'), '/datasets/Roberto_WalterProd')]",
				"[concat(variables('factoryId'), '/datasets/WalterProd_FacultyDeptPortfolio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterDev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterProd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "test"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Roberto_WalterTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Roberto_WalterTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDataLake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Walter_Storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Walter_Storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDev_EmployeeAccrualBalances')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EmployeeAccrualBalances"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterDev_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterProd_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ROBERTO_WalterProd",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ROBERTO_WalterProd')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WalterTest_FacultyDeptPortfolio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Roberto_WalterTest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProjectNumber",
						"type": "nvarchar"
					},
					{
						"name": "TaskNum",
						"type": "nvarchar"
					},
					{
						"name": "FundCode",
						"type": "nvarchar"
					},
					{
						"name": "ProgramCode",
						"type": "nvarchar"
					},
					{
						"name": "ActivityCode",
						"type": "nvarchar"
					},
					{
						"name": "ExpenditureCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrgCode",
						"type": "nvarchar"
					},
					{
						"name": "AwardNumber",
						"type": "nvarchar"
					},
					{
						"name": "AwardName",
						"type": "nvarchar"
					},
					{
						"name": "AwardType",
						"type": "nvarchar"
					},
					{
						"name": "AwardStartDate",
						"type": "date"
					},
					{
						"name": "AwardEndDate",
						"type": "date"
					},
					{
						"name": "AwardStatus",
						"type": "nvarchar"
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOwningOrg",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "nvarchar"
					},
					{
						"name": "ProjectStatus",
						"type": "nvarchar"
					},
					{
						"name": "TaskName",
						"type": "nvarchar"
					},
					{
						"name": "TaskStatus",
						"type": "nvarchar"
					},
					{
						"name": "Pm",
						"type": "nvarchar"
					},
					{
						"name": "Pa",
						"type": "nvarchar"
					},
					{
						"name": "Pi",
						"type": "nvarchar"
					},
					{
						"name": "Copi",
						"type": "nvarchar"
					},
					{
						"name": "FundDesc",
						"type": "nvarchar"
					},
					{
						"name": "PurposeCode",
						"type": "nvarchar"
					},
					{
						"name": "PurposeDesc",
						"type": "nvarchar"
					},
					{
						"name": "ProgramDesc",
						"type": "nvarchar"
					},
					{
						"name": "ActivityDesc",
						"type": "nvarchar"
					},
					{
						"name": "PpmBudget",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmCommitments",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmExpenses",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "PpmBudBal",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "LoadDate",
						"type": "datetime2",
						"scale": 3
					},
					{
						"name": "LastUpdated",
						"type": "datetime2",
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FacultyDeptPortfolio"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Roberto_WalterTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAESDOKVprod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('CAESDOKVprod_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ROBERTO_WalterDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ROBERTO_WalterDev_properties_typeProperties_server')]",
					"database": "[parameters('ROBERTO_WalterDev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ROBERTO_WalterDev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ROBERTO_WalterDev_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ROBERTO_WalterProd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ROBERTO_WalterProd_properties_typeProperties_server')]",
					"database": "[parameters('ROBERTO_WalterProd_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ROBERTO_WalterProd_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ROBERTO_WalterProd_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Roberto_WalterTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('Roberto_WalterTest_properties_typeProperties_server')]",
					"database": "[parameters('Roberto_WalterTest_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('Roberto_WalterTest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Roberto_WalterTest_password')]"
					}
				},
				"connectVia": {
					"referenceName": "CAES-ROBERTO-SHIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/CAES-ROBERTO-SHIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Walter_Storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Walter_Storage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Walter_Storage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FacultyDeptReportTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshFacultyDeptPortfolio",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-04T10:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/RefreshFacultyDeptPortfolio')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonitorFPProjectsTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MonitorFPProjects",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-10T10:00:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"hours": [
								10,
								13,
								16,
								19
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MonitorFPProjects')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAES-ROBERTO-SHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAES-TerryLinkedSHIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}